:root {
  --background-color: #fff;
  --text-color: #000000;
  --contribuitor-color: rgb(177, 177, 177);
  --button-background-color: #333;
  --button-text-color: #fff;
  --button-background-hover: #000;
}
* {
  border-color: #000000;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif
}
[data-theme="dark"] {
  --background-color: #23272a;
  --text-color: #fff;
  --button-background-color: #dcdcdc;
  --contribuitor-color: rgb(56, 56, 56);
  --button-text-color: black;
  --button-background-hover: #7289da;
}

.btn {
  width: 200px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  margin: 20px;
  background-color: var(--button-background-color);
  border: 3px solid var(--button-background-color);
  color: var(--button-text-color);
  transition: background 300ms;
  transition: color 300ms;
}

.btn:hover {
  background: var(--background-color);
  color: var(--text-color);
}

.people {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.people__title {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 33px;
}

.people__cards {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.people__card {
  display: block;
  width: 200px;
  text-decoration: none;
}

.people__card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.people__card-content img {
  width: 100%;
}

.people__card-content h3 {
  color: var(--text-color);
  text-align: center;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .people__cards {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr)
  }  

  .people__card:nth-child(5) {
    grid-column: 1 / 3;
  } 

  .people__card:last-child {
    grid-column: 3 / 5;
  }
}

@media screen and (max-width: 975px) {
  .people__cards {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr)
  }  

  .people__card:nth-child(5) {
    grid-column: auto;
  } 

  .people__card:last-child {
    grid-column: auto;
  }
}

@media screen and (max-width: 475px) {
  .people__card {
    width: 150px;
  }
  .people__card .people__card-content img {
    width: 80%;
    align-self: center;
  }

  .people__card .people__card-content h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 376px) {
  .people__cards {
    grid-template-columns: 1fr;
  }

  .people__card:last-child {
    grid-column: auto;
    justify-self: center;
  }

  .people__card {
    width: 100%;
    margin-top: 10px;
  }
  .people__card .people__card-content img {
    width: 80%;
    align-self: center;
  }
}